/* variable  */

:root{
    --mainEng-font: "Playfair Display";
    --mainKor-font: "Nanum Gothic Coding";
    --mainNum-font: "Nunit";


    --mainBg-color: #f8f6dd;
    /* --mainBg-color:  #FAF7ED; */

    /* --subBg100: #B3b19f;
    --subBg200: #9e9c87; 
    --subBg300: #898771; 
    --subBg400: #74735d; 
    --subBg500: #605f4b;  */

    --subBg100: #577785;
    --subBg200: #456370; 
    --subBg300: #354f5a; 
    --subBg400: #264653; 
    --subBg500: #283c45; 


    --ptColor1: #fbee00;
    --ptColor2: #cfddbd;
    --ptColor3: #f8f6dd;


    --white: #fff;
    --black: #000;
    --black100: #0D0D0D;
    --black200:#404040;
    --black300: #737373;
    --black400: #8C8C8C;

    font-family: var(--mainEng-font),var(--mainKor-font),var();
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;


    /* 아이폰 가로 모드에서 글씨 확대 금지 */
-webkit-text-size-adjust: 100%;

    /* 폰트를 부드럽게 렌더링 하기 위한 속성 */
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}
@media screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }

}
    

    body{
        color: var(--black);
        background-color: var(--mainBg-color);
    }
