/* variable  */

:root{
    --mainEng-font: "Playfair Display";
    --mainKor-font: "Nanum Gothic Coding";
    --mainNum-font: "Nunit";


    /* --mainBg-color: #f00; */
    --mainBg-color: #F1F8F8;

    --subBg100: #C9E4E4;
    --subBg200: #bbdddd; 
    --subBg300: #aed6d6; 
    --subBg400: #a0cfcf; 
    --subBg500: #92c8c8; 

    --white: #fff;
    --black: #000;
    --black100: #0D0D0D;
    --black200:#404040;
    --black300: #737373;
    --black400: #8C8C8C;

    font-family: var(--mainEng-font),var(--mainKor-font),var();
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;


    /* 아이폰 가로 모드에서 글씨 확대 금지 */
-webkit-text-size-adjust: 100%;

    /* 폰트를 부드럽게 렌더링 하기 위한 속성 */
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}
@media screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }

}
    

    body{
        color: var(--black);
        background-color: var(--mainBg-color);
    }
