/* variable  */

:root{
    --mainEng-font: "Playfair Display";
    --mainKor-font: "Nanum Gothic Coding";
    --mainNum-font: "Nunit";


    --mainBg-color: #FAF7ED;

    --subBg100: #578DF9;
    --subBg200: #0442BF; 
    --subBg300: #0339A6; 
    --subBg400: #022873; 
    --subBg500: #021F59; 

    --white: #fff;
    --black: #000;
    --black100: #0D0D0D;
    --black200:#404040;
    --black300: #737373;
    --black400: #8C8C8C;

    font-family: var(),var(),var();
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;


    /* 아이폰 가로 모드에서 글씨 확대 금지 */


    /* 폰트를 부드럽게 렌더링 하기 위한 속성 */
}